@mixin mediaQuery($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;

    @include mediaQuery($mobile) {
        font-size: 55%;
    }
}

body {
    font-size: 1.5rem;
    font-family: $font;
    background-color: $LightGrayishBlue;
}
