@import "variables";
@import "base";

.container {
    padding: 20rem;

    @include mediaQuery($laptop) {
        padding: 20rem 6rem;
    }

    @include mediaQuery($tablet) {
        padding: 10rem 6rem 1rem;
    }

    @include mediaQuery($mobile) {
        padding: 3rem 3rem 1rem;
    }
}

.post {
    display: grid;
    grid-template-columns: 2fr 3fr;

    width: 100%;
    border-radius: 1rem;

    background-color: white;

    @include mediaQuery($tablet) {
        grid-template-columns: 1fr;
        grid-template-rows: 40rem min-content;
    }

    @include mediaQuery($mobile) {
        grid-template-rows: 30rem min-content;
    }

    &__img {
        border-radius: 1rem 0 0 1rem;
        width: 100%;
        height: 100%;
        object-position: left;
        object-fit: cover;

        @include mediaQuery($tablet) {
            object-position: top;
        }
    }

    &__title {
        color: $VeryDarkGrayishBlue;
        font-size: 2.5rem;
    }

    &__description {
        color: $DesaturatedDarkBlue;
    }

    &__info {
        display: flex;
        flex-direction: column;

        padding: 6rem;

        @include mediaQuery($tablet) {
            padding: 6rem 6rem 3rem;
        }

        @include mediaQuery($mobile) {
            padding: 3rem;
        }

        & > :not(:last-child) {
            margin-bottom: 2rem;

            @include mediaQuery($tablet) {
                margin-bottom: 4rem;
            }
        }
    }

    &__author {
        position: relative;
        display: flex;
        align-items: center;

        margin-top: auto;

        &__img {
            width: 4.5rem;
            border-radius: 50%;
            margin-right: 2rem;
        }

        &__info {
            &__name {
                font-weight: 700;
                color: $VeryDarkGrayishBlue;
            }
            &__date {
                color: $GrayishBlue;
            }
        }
    }

    &__share-button {
        background-color: $LightGrayishBlue;
        cursor: pointer;

        margin-left: auto;
        padding: 1rem;
        border-radius: 50%;
    }
}

.share-container {
    background-color: $VeryDarkGrayishBlue;
    color: $GrayishBlue;

    position: absolute;
    top: -6rem;
    right: -7rem;
    z-index: 100;

    display: none;
    align-items: center;

    border-radius: 1rem;
    padding: 1.3rem;

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: -2.9rem;
        left: 8rem;
        z-index: 2;

        width: 0;
        height: 0;
        transform: rotate(180deg);
        border: 2rem solid transparent;
        border-bottom: 2rem solid $VeryDarkGrayishBlue;
    }

    &__text {
        letter-spacing: 0.5rem;
        margin-right: 1rem;
    }

    &__icon {
        cursor: pointer;

        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }
}
